<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/polymer-ui-router/uirouter-mixin.html">
<link rel="import" href="../../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../components/form-validation-decorator.html">
<link rel="import" href="../../components/zigguratcms-element-stomper.html">
<link rel="import" href="../../behaviors/ziggurat-admin-basic.html">
<link rel="import" href="../../shared-styles.html">


<dom-module id="zigguratcms-resource-edit-category-node-view">
    <template>

        <paper-toggle-button checked="{{resource.config.list_children}}">[[localize('List sub-nodes')]]</paper-toggle-button>

        <template is="dom-if" if="[[isAttached]]">

            <zigguratcms-element-stomper stomped-uuid="[[resource.elements.0.uuid]]"
                                         elements="{{resource.elements}}"
                                         resource="[[resource]]"
                                         router-data="[[routerData]]"
                                         router-routes="[[routerRoutes]]">
            </zigguratcms-element-stomper>

        </template>

    </template>

    <script>

        class ZigguratCMSAdminResourceEditCategoryView extends UiRouterMixin(ZigguratAdminBasicMixin(Polymer.GestureEventListeners(
            Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element)))) {
            static get is() {
                return "zigguratcms-resource-edit-category-node-view";
            }

            static get properties() {
                return {
                    isAttached: {
                        type: Boolean
                    },
                    resource: {
                        type: Object
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();
                this.isAttached = true;
            }

            _attachDom(dom) {
                this.appendChild(dom);
            }
        }

        customElements.define(ZigguratCMSAdminResourceEditCategoryView.is, ZigguratCMSAdminResourceEditCategoryView);
    </script>
</dom-module>
