<link rel="import" href="../../../bower_components/polymer/polymer.html">
<link rel="import" href="../../../bower_components/polymer-ui-router/uirouter-mixin.html">
<link rel="import" href="../../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="../../components/form-validation-decorator.html">
<link rel="import" href="../../components/zigguratcms-element-stomper.html">
<link rel="import" href="../../shared-styles.html">
<link rel="import" href="../../behaviors/ziggurat-admin-basic.html">


<dom-module id="zigguratcms-resource-edit-page-node-view">
    <template>

        <template is="dom-if" if="[[isAttached]]">
            <zigguratcms-element-stomper stomped-uuid="[[resource.elements.0.uuid]]"
                                         elements="{{resource.elements}}"
                                         resource="[[resource]]"
                                         ui-router-transition="[[uiRouterTransition]]"
                                         ui-router-params="[[uiRouterParams]]"
                                         ui-router-resolved-data="[[uiRouterResolvedData]]">
            </zigguratcms-element-stomper>
        </template>

    </template>

    <script>

        class ZigguratCMSAdminResourceEditPageView extends UiRouterMixin(ZigguratAdminBasicMixin(Polymer.GestureEventListeners(
            Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element)))) {
            static get is() {
                return "zigguratcms-resource-edit-page-node-view";
            }

            static get properties() {
                return {
                    isAttached: {
                        type: Boolean
                    },
                    resource: {
                        type: Object
                    }
                }
            }

            connectedCallback() {
                super.connectedCallback();
                this.isAttached = true;
            }

            _attachDom(dom) {
                this.appendChild(dom);
            }
        }

        customElements.define(ZigguratCMSAdminResourceEditPageView.is, ZigguratCMSAdminResourceEditPageView);

    </script>
</dom-module>
