*
!docker
!backend
backend/*.egg-info
!frontend
**/bower_components
**/node_modules
node_modules
!docker-entrypoint.sh
!docker-entrypoint-static.sh
!AUTHORS
!CHANGELOG.md
!CLA_ENTITY.md
!CLA_INDIVIDIAL.md
!LICENSE
!MANIFEST.in
!pyproject.toml
!pytest.ini
!README.md
!requirements.txt
!setup.cfg
!setup.py
**/*.pyc
