<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/app-localize-behavior/app-localize-behavior.html">
<link rel="import" href="paper-gallery-item.html">

<dom-module id="paper-gallery">
    <template>
        <style>

            :host {
                display: block;
            }

            .image-selector ::slotted(.iron-selected)  {
                display: block !important;
            }

            .image-selector ::slotted(*) {
                display: none;
            }

            .image-selector ::slotted(iron-image) {
                width: 100%;
                --iron-image-width: 100%;
                height: 600px;
                --iron-image-height: 100%;
            }

            .controls {
                text-align: center;
                margin: 10px 0;
            }

            paper-item {
                cursor: pointer;
            }


        </style>

        <div class="controls">
            <paper-button raised on-tap="selectPrevious">[[localize('Previous')]]</paper-button>

            <span>[[computedSelected]]/[[items.length]]</span>

            <paper-button raised on-tap="selectNext">[[localize('Next')]]</paper-button>
        </div>

        <iron-selector selected="[[selected]]" selectable="paper-gallery-item" selected-attribute="iron-selected" class="image-selector">
            <slot name="entries"></slot>
        </iron-selector>

        <div class="controls">
            <paper-button raised on-tap="selectPrevious">[[localize('Previous')]]</paper-button>

            <span>[[computedSelected]]/[[items.length]]</span>

            <paper-button raised on-tap="selectNext">[[localize('Next')]]</paper-button>
        </div>

        <template is="dom-if" if="[[showList]]">
            <paper-listbox selected="{{selected}}">
                <template is="dom-repeat" items="[[computedItemData(items)]]">
                    <paper-item class="paper-item-link">[[item.title]]</paper-item>
                </template>
            </paper-listbox>
        </template>


    </template>
    <script>
        class PaperGallery extends Polymer.GestureEventListeners(
            Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior], Polymer.Element)) {
            static get is() {
                return "paper-gallery";
            }

            static get properties() {
                return {
                    selected: {
                        type: Number,
                        value() {
                            return 0
                        }
                    },
                    items: {
                        type: Array,
                        value() {
                            return []
                        }
                    },
                    computedSelected: {
                        computed: 'computeSelected(selected)'
                    },
                    showList: {
                        type: Boolean,
                        value: false
                    },
                    // Localization
                    useKeyIfMissing: {
                        value: true,
                        type: Boolean
                    },
                    language: {
                        value() {
                            return window.TRANSLATION_LANGUAGE || 'en';
                        },
                        type: String
                    },
                    resources: {
                        type: Object,
                        value() {
                            return window.TRANSLATIONS || {en:{}, pl:{}}
                        }
                    }
                }
            }

            computedItemData() {
                var metadata = [];
                console.log(this.items.length);
                for (var x = 0; x < this.items.length; x++) {
                    var item = this.items[x];
                    metadata.push({
                        title: item.title,
                        description: item.description
                    });
                }
                console.log(metadata)
                return metadata;
            }

            connectedCallback() {
                super.connectedCallback();
                Polymer.RenderStatus.beforeNextRender(this, function() {
                    var children = this.getEffectiveChildren('entries');
                    this.items = children;
                });
            }

            computeSelected() {
                return this.selected + 1;
            }

            selectPrevious() {
                this.selected = this.selected - 1;
                if (this.selected < 0) {
                    this.selected = this.items.length - 1;
                }
            }
            selectNext() {
                if (this.selected + 1 < this.items.length) {
                    this.selected = this.selected + 1;
                }
                else {
                    this.selected = 0
                }

            }
        }

        customElements.define(PaperGallery.is, PaperGallery);

    </script>
</dom-module>
