<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-overlay-behavior/iron-overlay-behavior.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner.html">

<dom-module id="loader-overlay">
    <style>
        paper-spinner{
            width: 100px;
            height: 100px;
            --paper-spinner-stroke-width: 10px;
        }

    </style>
    <template>
        <paper-spinner active class="page-loader thick"></paper-spinner>
    </template>

</dom-module>

<script>

    class ZigguratCMSLoaderOverlay extends Polymer.GestureEventListeners(
        Polymer.mixinBehaviors([Polymer.AppLocalizeBehavior, Polymer.IronOverlayBehavior],Polymer.Element)) {
        static get is() {
            return "loader-overlay";
        }
        static get properties() {
            return {
                noCancelOnOutsideClick: {
                    type: Boolean,
                    value: true
                },
                noCancelOnEscKey: {
                    type: Boolean,
                    value: true
                }
            }
        }
//        _attachDom(dom) {
//            this.appendChild(dom);
//        }
    }

    customElements.define(ZigguratCMSLoaderOverlay.is, ZigguratCMSLoaderOverlay);

</script>
